.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Ignore customizado ###
build/
.gradle
.scannerwork
bin/
*.classpath
*.project
*.settings
jacoco
*logs/
*dist
*tmp
*.class