<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<title th:text="#{g.no.encontrado}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="jumbotron">
		<div class="container text-center">
			<img src="../static/imgs/404.png" th:src="@{/imgs/404.png}" />
		</div>
	</div>
</body>
</html>

