<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<title th:text="#{tv.titulo.modal}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<header th:replace="layout :: site-header"></header>
	<div class="container">
		<h1 th:text="#{tv.titulo.modal}"></h1>
		<form action="#" th:action="@{/tipoVehiculo/guardar}"
			th:object="${tipoVehiculo}" method="post" class="form-horizontal">
			<input type="hidden" th:field="*{codigoTipo}"  /> 
			<div class="form-group">
				<label class="control-label col-sm-1" for="tipo" th:text="#{tv.input.tipo}"></label>
				<input id="tipo" type="text" th:field="*{nombre}" th:value="${nombre}" /> 
			</div>
			<br /> 
			<input type="submit" value="#" th:value="#{g.guardar}" /> 
			<input type="button" th:value="#{g.cerrar}"  th:href="@{/tipoVehiculo/cancelar}"/>
		</form>
	</div>
	<footer th:replace="layout :: site-footer"></footer>
</body>
</html>